.container {
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: calc(100% / 4 - 10px);
    margin: 5px;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 10px;
    text-align: center;
    
 }

 h3 {
    font-weight: 400;
    text-align: center;
 }

 .mt-10 {
    margin-top: 10px;
 }

 img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: block;
    align-self: center;
    
 }
 select, input {
    height: 28px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0 8px;
 }

 input {
    margin-right: 6px;
    margin-bottom: 15px;
 }

 button:hover {
   transform: scale(1.05);
 }
 button:active {
   transform: scale(0.95);
 }
 